[submodule "riot-web"]
	path = riot-web
	url = https://github.com/stoically/riot-web.git
[submodule "matrix-react-sdk"]
	path = matrix-react-sdk
	url = https://github.com/stoically/matrix-react-sdk.git
